@model FancyMVCMovie2.Models.Movie
<link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
<h1>
    @Model.MovieTitle
</h1>

<div style="float:right">
    @Html.ActionLink("Edit", "Edit", "Movie", new { id = Model.Id }, new { @class = "btn waves-light waves-effect" })
    @Html.ActionLink("Delete", "Delete", "Movie", new { id = Model.Id }, new { onclick = "return confirm('Are you sure you wish to delete this movie?');", @class = "btn red lighten-2 waves-light waves-effect" })
</div>
<table>
    <tr>
        <td>
            Genre
        </td>
        <th>
            @Model.Genre.Name
        </th>
    </tr>
    <tr>
        <td>
            Release Date
        </td>
        <th>
            @Html.DisplayFor(m => m.ReleaseDateTime)
        </th>
    </tr>
    <tr>
        <td>
            Price
        </td>
        <th>
            @Html.DisplayFor(m => m.Price)
        </th>
    </tr>
</table>

<ul class="gallery">
    @foreach (var img in Model.Pictures)
    {
        <li>
            <a href="@Url.Action("GetImageFull", "Movie", new {id = img.Id}, null)">
                <img src="@Url.Action("GetImageThumb", "Movie", new {id = img.Id}, null)">
            </a>
        </li>
    }
</ul>


<script src="~/Content/js/magnific-popup.js"></script>
<script>
    $(document).ready(function () {
        $('.gallery a').magnificPopup({
            type: 'image',
            mainClass: 'mfp-with-zoom',

            zoom: {
                enabled: true,
                duration: 300,
                easing: 'ease-in-out',
                opener: function (openerElement) {
                    return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            }

        });
    });
</script>