@model FancyMVCMovie2.Models.Movie

<div class="row">
    <div class="col offset-m2 m8 offset-l3 l6 s12">

        @using (Html.BeginForm("Save", "Movie", FormMethod.Post, new { id = "editForm" }))
        {
            @Html.MyValidationSummary()
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.UserId)
            @Html.EditorFor(m => m.MovieTitle)
            @Html.EditorFor(m => m.ReleaseDateTime)
            @Html.EditorFor(m => m.Price)

            <div class="input-field">
                @Html.DropDownListFor(m => m.GenreId, (SelectList)ViewBag.GenreSelectList)
                <label>@Html.DisplayNameFor(m => m.Genre)</label>
            </div>
        }
    </div>
    <div class="clearfix"></div>
    <div id="imageUpload">
        @{ Html.RenderPartial("_UploadImages", (IEnumerable<Guid>)ViewBag.guidList);}
    </div>
    <div class="center-align">

        <button class="btn waves-effect waves-light" type="button" name="action" onclick="$('#editForm').submit();">
            Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        bindForm("#frmImageUpload");
    });

    function bindForm(e) {
        var options = {
            target: '#imageUpload',
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                $(".progress>.determinate").css("width", percentVal);
            },
            beforeSubmit: function () {
                $(".progress").show();
                //$("input[type=file]#upload").hide();
                $("input[type=file]#upload").prop("disabled", true);
                //$("button#btnUpload").prop("disabled", true);
            },
            complete: function () {
                $(".progress").hide();
                //$("input[type=file]#upload").show();
                $("input[type=file]#upload").prop("disabled", false);
                //$("button#btnUpload").prop("disabled", false);
            }
        };

        $(e).ajaxForm(options);
    }
    function deleteImg(e) {
        var link = $(e).data("link");
        $("#imageUpload").load(link);
    }
</script>