@model IEnumerable<FancyMVCMovie2.Models.Movie>

<nav class="grey lighten-1" style="margin-bottom: 3em;">
    <div class="nav-wrapper">
        @using (Html.BeginForm("Search", "Movie", FormMethod.Get))
        {
            <div class="input-field">
                <input id="search" type="search" name="query">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        }
    </div>
</nav>

<div class="row">
    @foreach (var m in Model)
    {
        <div class="col s12 m6 l4">
            <div class="card">
                <a href="@Url.Action("Detail", "Movie", new {id = @m.Id})">
                    <div class="card-content black-text">
                        <span class="card-title black-text">@m.MovieTitle</span>
                        <ul>
                            <li>
                                @Html.DisplayFor(a => m.ReleaseDateTime)
                            </li>
                            <li>
                                @m.Genre.Name
                            </li>
                            <li>
                                @Html.DisplayFor(a => m.Price)
                            </li>
                        </ul>
                    </div>
                </a>
                <div class="card-action">
                    @Html.ActionLink("Edit", "Edit", "Movie", new { id = m.Id }, null)
                    @Html.ActionLink("Delete", "Delete", "Movie", new { id = m.Id }, new { onclick = "return confirm('Are you sure you wish to delete this movie?');" })
                </div>
            </div>
        </div>
    }
</div>
