<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FANCY MVC MOVIE</title>

    <link href="~/Content/css/materialize.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/css/Site.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/modernizr-2.6.2.js"></script>
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/materialize.min.js"></script>
    <script src="~/Content/js/jquery.form.min.js"></script>
</head>
<body>
<main>
    <nav class="grey darken-2 white-text">
        <div class="nav-wrapper container">
            <a href="@Url.Action("Index", "Home")" class="brand-logo">Fancy MVC Movie</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                @Html.Partial("_MenuList")
            </ul>
            <ul class="side-nav" id="mobile-demo">
                @Html.Partial("_MenuList")
            </ul>
        </div>
    </nav>
    <div @(ViewBag.NoContainer != null && ViewBag.NoContainer == true ? "" : "style=margin-top:3em; class=container")>
        @RenderBody()
    </div>
</main>
    <footer class="page-footer  grey darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">MVC5 Example Project</h5>
                  <p class="grey-text text-lighten-4">
                      Source is available on <a href="https://github.com/mtbnunu/FancyMVCMovie">Github</a>
                  </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                  <ul>
                      <li><a class="grey-text text-lighten-3" href="http://www.asp.net/mvc/overview/getting-started/introduction/getting-started">Getting Started With Asp.Net MVC5</a></li>
                      <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Materialize Css</a></li>
                      <li><a class="grey-text text-lighten-3" href="https://github.com/mtbnunu/JBWebAppLibrary">JBWebAppLibrary</a></li>
                  </ul>
              </div>
            </div>
          </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year - Jae Yeong Bae
            </div>
        </div>
    </footer>
</body>
    <script>
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();


        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
    @{
        if (TempData.ContainsKey("Toast") && TempData["Toast"].Equals(true))
        {
        <text>
        <script>
            $(document).ready(function () {
                Materialize.toast("@Html.Raw((TempData["ToastMsg"]))", 4000);
            });
        </script>
        </text>
        }
    }
@if (IsSectionDefined("scripts"))
{
    @RenderSection("scripts")
}

</html>
