@model IEnumerable<FancyMVCMovie.Models.Movie>
  <nav class="grey lighten-1">
    <div class="nav-wrapper">
      @using (Html.BeginForm("Search", "Home", FormMethod.Get))
      {
          <div class="input-field">
              <input id="search" type="search" name="query">
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
          </div>
      }
    </div>
  </nav>

<div class="row">
    @foreach (var m in Model)
    {
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title black-text">@m.MovieTitle</span>
                    <ul>
                        <li>
                            @Html.DisplayFor(a=>m.ReleaseDateTime)
                        </li>
                        <li>
                            @m.Genre.Name
                        </li>
                        <li>                    
                            @Html.DisplayFor(a=>m.Price)
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    @Html.ActionLink("Edit","Edit","Home",new{id=m.Id},null)
                    @Html.ActionLink("Delete","Delete","Home",new{id=m.Id},null)
                </div>
            </div>
        </div>
    }
</div>
