@model FancyMVCMovie2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col offset-m2 m8 offset-l3 l6">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            @Html.MyValidationSummary()
            @Html.EditorFor(m => m.OldPassword)
            @Html.EditorFor(m => m.NewPassword)
            @Html.EditorFor(m => m.ConfirmPassword)

            <div>
                <button type="submit" class="btn waves-effect waves-light">Change Password</button>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>