@model DateTime?
<div class="input-field">
    @if (!string.IsNullOrEmpty(ViewData.ModelMetadata.Description))
    {
        <i class="material-icons prefix">@ViewData.ModelMetadata.Description</i>
    }
    <input id="@ViewData.ModelMetadata.PropertyName" name="@ViewData.ModelMetadata.PropertyName" type="date" value="@(Model.HasValue?string.Format(ViewData.ModelMetadata.DisplayFormatString, Model.Value):"")" />
    <label for="@ViewData.ModelMetadata.PropertyName">@ViewData.ModelMetadata.DisplayName</label>
</div>
<script>
    $('input[type=date]#@ViewData.ModelMetadata.PropertyName').pickadate({
        selectMonths: false,
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>