@model string
<div class="input-field">
    @if (!string.IsNullOrEmpty(ViewData.ModelMetadata.Description))
    {
        <i class="material-icons prefix">@ViewData.ModelMetadata.Description</i>
    }
    <input id="@ViewData.ModelMetadata.PropertyName" name="@ViewData.ModelMetadata.PropertyName" type="email" class="validate" value="@ViewData.Model"
                @foreach (var vd in ViewData.Keys)
                {
                @vd<text>="@ViewData[vd]"</text>
                }
        />
    <label for="@ViewData.ModelMetadata.PropertyName">@ViewData.ModelMetadata.DisplayName</label>
</div>
